<footer class="site-footer">
  {{ if or (site.GetPage "terms.md") (site.GetPage "privacy.md") }}
  <p class="powered-by">
    {{ with site.GetPage "privacy.md" }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
    {{ with site.GetPage "terms.md" }}
      {{ if site.GetPage "privacy.md" }} &middot; {{ end }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
  </p>
  {{ end }}

  <p class="powered-by">
    <i class="fas fa-sync-alt"></i> &nbsp;

    {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}} &middot; {{ end }}

    <i class="fab fa-github-alt"></i> &nbsp; Website <a href="https://github.com/bgonzalezbustamante/academic-kickstart/blob/master/changelog.txt" target="_blank">v3.2.1</a> &middot; Powered by <i class="fab fa-r-project"></i> &nbsp; and a lot of <i class="fas fa-coffee"></i>

    {{ if not (in (slice "docs" "updates") .Type) }}
    <span class="float-right" aria-hidden="true">
      <a href="#" class="back-to-top">
        <span class="button_icon">
          <i class="fas fa-chevron-up fa-2x"></i>
        </span>
      </a>
    </span>
    {{ end }}
  </p><br />
</footer>
