ErrorDocument 404 /~shil5311/404.html
Redirect /~shil5311/categories/ /~shil5311/404.html
Redirect /~shil5311/publication_types/ /~shil5311/404.html
Redirect /~shil5311/ranking.html http://users.ox.ac.uk/~shil5311/ranking/
Redirect /~shil5311/ranking-careers.html http://users.ox.ac.uk/~shil5311/ranking/
Redirect /~shil5311/ranking-network.html http://users.ox.ac.uk/~shil5311/ranking/
Redirect /~shil5311/ranking-extras.html http://users.ox.ac.uk/~shil5311/ranking/